@use "sass:color";
@import "../../styles/variables";

.suggestion-input-field {
  position: relative;

  input {
    border: none;
    outline: none;
    background-color: transparent;

    &:focus {
      background-color: color.adjust($bg-light, $lightness: -2%);
    }
  }
}
